*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    /*font-size: 62.5%;*/
    
}
.body{
    background-image: linear-gradient(to right, rgba(191, 205, 224), #5b79a39a);
}
.navbar{
    background-color: #2c3a4ec9;
}
img{
    width: 10rem;
}
.tom{
    margin-right: 5.5rem;
}
img{
    margin-left: 4rem;
}
.rounded-circle{
    background: 191, 205, 224;
    box-shadow:  10px 10px 20px #a6a6a6,
    -10px -10px 20px #03030328;
}
.navbar-nav .nav-link {
  color: #afcffcc9;
  font-size: 16px; /* Tamaño de fuente predeterminado */
  transition: color 0.3s, font-size 0.3s; /* Agregamos transiciones suaves para color y tamaño de fuente */
}
<<<<<<< HEAD:HTML/PaginaPersonal/style.css
.navbar-nav .nav-link {
    color: white;
    transition: color 0.3s; /* Agregamos una transición suave para el cambio de color */
    transition: ;
}
.navbar-nav .nav-link:hover {
    font-size: 110%;
    color: rgba(192, 203, 252, 0.582); /* Cambiamos el color al pasar el cursor sobre el enlace */
=======

.navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255);
  font-size: 18px; /* Tamaño de fuente más grande al pasar el cursor */
>>>>>>> 6a448f72e30a4da14cc6b73d513a4155d36f515e:HTML/CV/style.css
}