*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    /*font-size: 62.5%;*/
    
}
.body{
    background-image: linear-gradient(to right, rgba(191, 205, 224), rgba(142, 149, 177));
}
.navbar{
    background-color: rgba(0, 0, 0, 0.671);
}
img{
    width: 10rem;
}
.tom{
    margin-right: 5.5rem;
}
img{
    margin-left: 4rem;
}
.rounded-circle{
    background: 191, 205, 224;
    box-shadow:  10px 10px 20px #a6a6a6,
    -10px -10px 20px #03030328;
}
.secc{
    background-color: rgba(240, 0, 120, 0.829);
}
.navbar,navbar-expand-lg{
    color: white;
}