body{
  height: auto;
  padding: 0;
}
.aaa{
  background-color: red;
}
.vent{
  height: 50vh;
  background-color: blue;
}
.nos{
  height: 50vh;
  background-color: green;
}
p {
  font-size: 1.8rem;
}
.box-vent{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}