.body{
    overflow-x: hidden;
    height: 100vh;
    background-image: linear-gradient(to right, #5e2129, #46191f);

}
.header{
background-color: rgba(122, 93, 254, 0.175);

height: 50%;
}
.menu1{
    display: flex;
    flex-direction: column;
} 
.box1{
    height: auto;
}
.card{
    border-radius: 2rem;
    
}
.contenido {
    position: absolute;
    width: 110%; /* Ancho del 100% para que se extienda a lo largo de la página */
    height: 13rem;
    position: absolute; /* Posición absoluta para que esté alineado a lo largo de la página */
    transform: rotate(2deg);
    transform-origin: left center; /* Punto de origen en la izquierda */
    overflow: hidden;
    background: linear-gradient(225deg, #551e25, #65232c);
    box-shadow:  -24px 24px 48px #581f27,
             24px -24px 48px #64232b;
  }
  .girando {
    height: 10rem;
    display: flex; /* Contrarresta la rotación para el contenido */
    justify-content: center;
    align-items: center;
  }
.contenido img{
    max-width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    transform: rotate(-2deg); /* Mantiene la proporción de aspecto de la imagen */
}
.mt-4{
    height: 20rem;
}
