.body{
  height: auto;
  width: auto;
}
.cabeza{
  height:8vh;
  background-color: rgba(0, 0, 0, 0.575);
}
.main{
  height: auto;
  background-image: url(./img/pngtree-an-old-gym-setting-with-dumbbells-picture-image_2667256.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Esto puede ayudar a mantener la imagen fija en la ventana */
  background-position: center center; /* Centra la imagen vertical y horizontalmente */
}

footer a {
  min-height: 2rem;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 254, 254);
  text-decoration: none; /* Elimina la subrayado en los enlaces */
  transition: color 0.3s; /* Agrega una transición suave al cambiar el color */
}

/* Cambia el color de los enlaces al pasar el cursor */
footer .github:hover {
  color: #176100; /* Cambia este valor al color deseado al pasar el cursor */
}
footer .linkedin:hover {
  color: #719efdbd; /* Cambia este valor al color deseado al pasar el cursor */
}
footer .instagram:hover {
  background-image: linear-gradient(to right, rgb(255, 0, 179),yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
footer .gmail:hover {
  color: rgba(255, 68, 68, 0.658);
}
footer .whatsapp:hover {
  color: #09ff00a1; /* Cambia este valor al color deseado al pasar el cursor */
}
footer{
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.575);
  justify-content: center;
}
.form {

  position: relative;
  z-index: 1;
  background: #FFFFFF;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 7px;
  margin: 0 0 1px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  
}
.form span{
  margin: 0 0 1px
}
.form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #234666;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 7px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .register-form {
  display: none;
}
.form{
  background-color: #6c757d;
}