.body{
  height: auto;
  width: auto;
}
.cabeza{
  height:8vh;
  background:#000000 ;
}
.main{
  height: auto;
  background-image: url(./img/Gimnasio.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Esto puede ayudar a mantener la imagen fija en la ventana */
  background-position: center center; /* Centra la imagen vertical y horizontalmente */
}

footer a {
  min-height: 2rem;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 254, 254);
  text-decoration: none; /* Elimina la subrayado en los enlaces */
  transition: color 0.3s; /* Agrega una transición suave al cambiar el color */
}

/* Cambia el color de los enlaces al pasar el cursor */
footer .github:hover {
  color: #176100; /* Cambia este valor al color deseado al pasar el cursor */
}
footer .linkedin:hover {
  color: #719efdbd; /* Cambia este valor al color deseado al pasar el cursor */
}
footer .instagram:hover {
  background-image: linear-gradient(to right, rgb(255, 0, 179),yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
footer .gmail:hover {
  color: rgba(255, 68, 68, 0.658);
}
footer .whatsapp:hover {
  color: #09ff00a1; /* Cambia este valor al color deseado al pasar el cursor */
}
footer{
  height: 6vh;
  background-color: black;
  justify-content: center;
}
.form{

  background-color: black;
}

