*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    /*font-size: 62.5%;*/
    
}
.body{
    background-color: rgba(119, 119, 119, 0.164);
}
.navbar{
    background-color: rgba(94, 94, 94, 0.164);
}
img{
    width: 10rem;
}
.tom{
    margin-right: 5.5rem;
}
img{
    margin-left: 4rem;
}