@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins/Poppins-Light.ttf') format('ttf');
    /* Agrega otros formatos aquí, si es necesario */
  }

.body {
    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
    background: 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
      repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
    font-family: 'Poppins';
  }

.header {
    background-color: #121A36;
    height: 8vh;
    position: relative;
    z-index: 2; /* Asegura que el encabezado esté por encima del contenido */
}

li .nav-link {
    color: white;
}
.nav-link:active,
.nav-link:focus {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(94, 94, 94);
    
}
tr:nth-child(even) {
    background-color: #b8bccc9c; /* Cambia el color de fondo de las filas pares */
}

tr:nth-child(odd) {
    background-color: #DFE4F89c; /* Cambia el color de fondo de las filas impares */
}
.table {
    width: 100%;
    border-collapse: collapse;
    
}

/* Estilo para las celdas de encabezado */
th {
    background-color: #080b189c; /* Cambia el color de fondo de las celdas de encabezado */
    color: white;
    text-align: center;
    padding: 10px;
    
    
}

/* Estilo para las celdas de datos */
td {
    padding: 0.8px;
    text-align: center;
    justify-content: center;
}
#editUserForm .mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mb-3 .form-label{
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}
input.form-control {
    border: 2px solid #8a8a8a; /* Borde con un color destacado */
    padding: 8px; /* Espaciado interior */
    border-radius: 5px; /* Bordes redondeados */
}
.icon-button {
    color: inherit; /* Hereda el color del texto de su contenedor */
    text-decoration: none; /* Elimina el subrayado */
    background: none;
    border: none;
    font-size: 2.5rem; /* Tamaño del icono */
    cursor: pointer;
    transition: color 0.3s;
}

/* Otros estilos, como hover si lo deseas */
#btn-mod-user:hover {
    color: #0056b3; /* Cambia el color cuando el botón está en hover */
}

#btnDelUsuario:hover{
    color: rgb(182, 0, 0);
}

#btn-routine:hover{
    color: #56ab2f;
}
table.table th, table.table td {
    padding: 2px; /* Ajusta el espaciado vertical y horizontal de las celdas */
}
.show-password-button {
    background: none;
    border: none;
    font-size: 1.5rem; /* Tamaño del icono */
    cursor: pointer;
}
.btn-search{
    color: rgb(228, 228, 228);
    background: none;
    border: 1px solid rgb(189, 188, 188);
    border-radius: 6px;
    font-size: 1.2rem; /* Tamaño del icono */
    cursor: pointer;
    width: 37px;
    transition: 0.3s;
}
.btn-search:hover{
    color:rgb(160, 160, 160);
    background: rgb(56, 56, 56);
    font-size: 1.4rem;

}
.cont{
    width: 2%;
}
#ajusteBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
}
#modal::backdrop{
    background-color: rgba(0, 0, 0, 0.822);
}
#editEjercicioForm .mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
dialog{
    border-radius: 1rem;
    background-color: #DFE4F8;
}
.bgi{
    background: none;
    border: none;
    font-size: 1.5rem; /* Tamaño del icono */
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    border-radius: 1rem;
    transition: transform 0.3s, background-color 0.3s;
}
.bgi:hover{
    background-color: rgba(10, 117, 0, 0.685);
    transform: scale(1.05)
}
.buttonSave {
    border-radius: 10px;
    padding: 6px 10px;
    background-color: #2980B9;
    color: white;
    border: 1px solid white; /* Green */
    transition-duration: 0.4s;
}
.buttonSave:hover { 
    border: 1px solid #2980B9;
    background-color: white; /* Green */
    color: black;
}
.buttonClose{
    text-decoration: none;
    border-radius: 10px;
    padding: 6px 10px;
    background-color: #FF220C;
    color: white;
    border: 1px solid white; /* Green */
    transition-duration: 0.4s;
}
.buttonClose:hover {
    border: 1px solid #FF220C;
    background-color: white; /* Green */
    color: black;
}
.vertical-line {
    border-bottom: 1px solid #505050; /* Puedes ajustar el grosor y el color de la línea */
    margin: 0 3px; /* Puedes ajustar el espacio a izquierda y derecha de la línea */
}
tr th{
    font-size: small;
}
.btn {
    text-decoration: none;
}
#btnCopyRoutine{
    border: 1px solid #2980B9;
}
#btnDeleteRoutine{
    border: 1px solid #FF220C;

}
#btnDeleteRoutineDay{
    border: 1px solid #FF220C;

}
.btnTurnPage{
    text-decoration: none;
    border-radius: 10px;
    padding: 6px 10px;
    border: 1px solid #000000;
    background-color: white; 
    color: black;
    transition: 0.4s;
}
.btnTurnPage:hover {
    background-color: black;
    color: white;
    border: 1px solid white; 
}
.day{
    color: white;
    margin: 1rem;
  }