.body {
    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
    background: 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
      repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
    margin: auto;
    height: 100vh;
  }
.header {
    background-color: #121A36;
    height: 8vh;
    position: relative;
    z-index: 2; /* Asegura que el encabezado esté por encima del contenido */
}
#editUserForm .mb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mb-3 .form-label{
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}
input.form-control {
    border: 2px solid #8a8a8a; /* Borde con un color destacado */
    padding: 8px; /* Espaciado interior */
    border-radius: 10px; /* Bordes redondeados */
}
.icon-button {
    color: inherit; /* Hereda el color del texto de su contenedor */
    text-decoration: none; /* Elimina el subrayado */
    background: none;
    border: none;
    font-size: 2.5rem; /* Tamaño del icono */
    cursor: pointer;
    transition: color 0.3s;
}
.buttonSave {
    border-radius: 10px;
    padding: 6px 10px;
    background-color: #2980B9;
    color: white;
    border: 2px solid white; /* Green */
    transition-duration: 0.4s;
}
.buttonSave:hover { 
    border: 2px solid #2980B9;
    background-color: white; /* Green */
    color: black;
}
.buttonClose{
    text-decoration: none;
    border-radius: 10px;
    padding: 6px 10px;
    background-color: #FF220C;
    color: white;
    border: 2px solid white; /* Green */
    transition-duration: 0.4s;
}
.buttonClose:hover {
    border: 2px solid #FF220C;
    background-color: white; /* Green */
    color: black;
}
.col-md-6{
    border-radius: 3rem;
    background-color: #d4dcf8;
}
#editForm .text-center{
    margin-top: 2rem;
}
.secc{
    padding-right: 2rem;
    padding-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
