*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{

    
}
img{

    width: 15rem;
    border-radius: 0.5rem;
}
.body{
    background-color: rgba(71, 71, 71, 0.164);
}
.sos{
    background-color: blue;
}