@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins/Poppins-Black.ttf') format('ttf');
  /* Agrega otros formatos aquí, si es necesario */
}
.body{
  
    --s: 50px;
    --c: #191b22;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
    background: 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
      repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
    height: auto;
    width: auto;
    overflow-x: hidden;
    font-family: 'Poppins';
  }
  .header{
    height:6vh;
    background-color: #080b189c;
  }
  .buttonSave {
    border-radius: 10px;
    padding: 6px 10px;
    background-color: #2980B9;
    color: white;
    border: 2px solid white; /* Green */
    transition-duration: 0.4s;
}
.buttonSave:hover { 
    border: 2px solid #2980B9;
    background-color: white; /* Green */
    color: black;
}
.buttonClose{
  text-decoration: none;
    border-radius: 10px;
    padding: 6px 10px;
    background-color: #FF220C;
    color: white;
    border: 1px solid rgb(0, 0, 0); /* Green */
    transition-duration: 0.4s;
}
.buttonClose:hover {
    border: 1px solid #ffffff;
    background-color: rgb(0, 0, 0); /* Green */
}
.text-center p{
  font-size: 1rem;
}
.header .mx-3{
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
}
.userName{
  font-size: 2rem;
  color: white;
}
.subtittle{
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: white;
}
.tittle{
  color: white;
  font-size: 3rem;
}
