.body{
    background-color: grey;
}
.header{
    background-color: rgba(0, 0, 0, 0.308);
    height: 8vh;
    
}
.bgi{
    background: none;
    border: none;
    font-size: 1.5rem; /* Tamaño del icono */
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
    border-radius: 1rem;
    transition: transform 0.3s, background-color 0.3s;
}
.bgi:hover{
    background-color: rgba(10, 117, 0, 0.685);
    transform: scale(1.05)
}