.body {
    background-image: linear-gradient(to right, rgb(94, 94, 94), rgb(185, 185, 185));

}

.header {
    background-color: rgba(0, 0, 0, 0.308);
    height: 8vh;
    position: relative;
    z-index: 2; /* Asegura que el encabezado esté por encima del contenido */
}

li .nav-link {
    color: white;
}

.col-md-3 {
    display: none;
}

.nav-link:active,
.nav-link:focus {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(94, 94, 94);
    
}
tr:nth-child(even) {
    background-color: lightgray; /* Cambia el color de fondo de las filas pares */
}

tr:nth-child(odd) {
    background-color: lightblue; /* Cambia el color de fondo de las filas impares */
}
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: lightblue;
}

/* Estilo para las celdas de encabezado */
th {
    background-color: darkblue; /* Cambia el color de fondo de las celdas de encabezado */
    color: white;
    text-align: left;
    padding: 10px;
}

/* Estilo para las celdas de datos */
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    justify-content: center;
}

